@using OleMissChatbox.ViewModels

<h4>Chat Page</h4>
<h3 id="email-header">@ViewBag.Message</h3>
<h3> is signed in</h3>

@section Scripts {
<script src="~/lib/knockout/build/output/knockout-latest.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
}




<body>
    <div class="alert alert-warning alert-dismissible d-none" id="errorAlert" role="alert">
        <span id="alert-message"></span>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container">
        <div class="sidebar">
            <div class="header">
                <h5>Chat Class</h5>
                <button id="add-class" onclick="showCreateClassModal()">
                    Add Class
                    <i class="fas fa-plus"></i>
                </button>
                @*<button id="get-class" onclick="getClasses()">Test</button>*@
            </div>
        </div>
        <ul id="class-list"></ul>



        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</body>

<div class="modal" id="create-class-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Class</h5>
                <button type="button" id="x-close" onclick="hideCreateClassModal()" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="className" placeholder="Class name">
                <span id="classNameErrorMessage" style="color:red">Enter a class name</span>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" onclick="hideCreateClassModal()" class="btn btn-secondary">Close</button>
                <button type="button" id="create-class" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>