@using OleMissChatbox.ViewModels

@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}
@*<script>
    $('#loginBtn').click(function() { login(); });
    $('#password').keyup(function(event) {
        if (event.keyCode === 13) {
            login();
        }
    });

    function login() {
        var email = jQuery('#email').val();
        var password = jQuery('#password').val();

        $.ajax("@Url.Action("Login", "Account")",
        {
            method: "POST",
            data: { email: email, password: password }
        }).fail(function() {
            jQuery('Unable to sign in').show();
            $('#loginBtn').show();
        });
    };

</script>
}*@
<!DOCTYPE html>
<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
    <div asp-validation-summary="ModelOnly"></div>
    <div id="loginForm">
        <form method="post">
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input type="email" asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input type="password" asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button class="btn btn-success" id="loginBtn">Login</button>
            </div>

            <div>
                <br />
                <p>Sign up <a href="SignUp">here!</a></p>
            </div>
        </form>
    </div>
    </div>
</div>