@using OleMissChatbox.ViewModels

@model SignUpViewModel
@{
    ViewBag.Title = "Sign Up";
}
@section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}
<!DOCTYPE html>
<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <div asp-validation-summary="ModelOnly"></div>
        <div id="signInForm">
            <form method="post">
                <div>
                    <div class="form-group">
                        <label asp-for="FirstName">First Name:</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for"LastName">Last Name:</label>
                        <input asp-for="LastName" class="form-control"/>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email:</label>
                        <br />
                        <input type="email" asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password:</label>
                    <input type="password" asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirm Password:</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br />
                <button class="btn btn-success" id="signUpBtn">Sign Up</button>
            </form>
        </div>
    </div>
</div>

@if(!string.IsNullOrEmpty(ViewBag.message))
{
    <h1 class="text-center">@ViewBag.message</h1>
    <p class="text-center">Click <a href="Login">here</a> to login</p>
}
